<div class='col-sm-12 col-md-12 col-lg-12 col-xs-12'>
    <div class='thumbnail'>
        <div *ngIf="serv.openM">
            <p class="title">Title: {{serv.openM.show_title}}</p>
            <p class="title">Summary: {{serv.openM.summary}}</p>
            <p class="title">Year: {{serv.openM.release_year}}</p>
            <p class="title">Genre: {{serv.openM.category}}</p>
            <p class="title">Rating: {{serv.openM.rating}}</p>
            <p class="title">Runtime: {{serv.openM.runtime}}</p>
        </div>
    </div>
</div>